<i class="calendar icon"></i>

{{pikaday-input
    onSelection=(action 'setDateFrom')
    value=storage.datepickerDateFrom
    useUTC=true
    format="DD.MM.YYYY"
}}

{{pikaday-input
    onSelection=(action 'setDateTo')
    value=storage.datepickerDateTo
    useUTC=true
    format="DD.MM.YYYY"
}}

{{#if presets}}
  <button {{action "setDateByButton" 1}}>Minulý měsíc</button>
  <button {{action "setDateByButton" 0}}>Tento měsíc</button>
{{/if}}

