{{#if calendarIcon}}
  <i class="calendar icon"></i>
{{/if}}

{{pikaday-input
  onSelection=(action 'setDateFrom')
  value=(get storage fieldNameFrom)
  useUTC=true
  format=format
}}

{{#if (not singleDate)}}
  {{pikaday-input
    onSelection=(action 'setDateTo')
    value=(get storage fieldNameTo)
    useUTC=true
    format=format
  }}
{{/if}}

{{#if presets}}
  <button {{action "setDateByButton" 1}}>Minulý měsíc</button>
  <button {{action "setDateByButton" 0}}>Tento měsíc</button>
{{/if}}
